## End to End Machine Learning with Deployment

In [1]:
**

SyntaxError: invalid syntax (402238255.py, line 1)

In [ ]:
!pip install imbalanced-learn
!pip install shap
!pip install streamlit
!pip install xgboost

In [3]:
!pip install -U imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\user\anaconda3\lib\site-packages (0.10.1)
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.11.0-py3-none-any.whl (235 kB)
     -------------------------------------- 235.6/235.6 kB 3.6 MB/s eta 0:00:00
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\user\anaconda3\lib\site-packages (from imbalanced-learn) (1.3.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\user\anaconda3\lib\site-packages (from imbalanced-learn) (1.23.5)
Requirement already satisfied: joblib>=1.1.1 in c:\users\user\anaconda3\lib\site-packages (from imbalanced-learn) (1.1.1)
Requirement already satisfied: scipy>=1.5.0 in c:\users\user\anaconda3\lib\site-packages (from imbalanced-learn) (1.10.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from imbalanced-learn) (2.2.0)
Installing collected packages: imbalanced-learn
  Attempting uninstall: imbalanced-learn
    Found existing installation: imbalanced-learn 0.10.1
    Uninstalling imbalanced-learn-0.10.1:
      Successfully uninstalled imbalanced-learn-0.10.1
Successfully installed imbalanced-learn-0.11.0

### Data Exploration

In [1]:
# load all libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split,RandomizedSearchCV
from imblearn.over_sampling import SMOTE

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier,GradientBoostingClassifier
from sklearn.svm import SVC
from xgboost import XGBClassifier

from sklearn.metrics import accuracy_score, precision_score, recall_score,roc_auc_score
from sklearn.metrics import f1_score,confusion_matrix,ConfusionMatrixDisplay,classification_report

import shap
import pickle
import streamlit as st
print('All libraries are imported')

All libraries are imported

In [2]:
data=pd.read_csv('diabetes.csv')
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,Yes
1,1,85,66,29,0,26.6,0.351,31,No
2,8,183,64,0,0,23.3,0.672,32,Yes
3,1,89,66,23,94,28.1,0.167,21,No
4,0,137,40,35,168,43.1,2.288,33,Tested_Positive

In [3]:
data.shape

(768, 9)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    object
dtypes: float64(2), int64(6), object(1)
memory usage: 54.1+ KB

0. pregnancies- no.of times a woman is pregnant
1. Glucose  -                   
2. BloodPressure              
3. SkinThickness - triceps skin foldness thickness in mm             
4. Insulin - the blood serum insulin level in muU/ml                  
5. BMI  - BodyMassINdex is ameasure of obesity given by kg/(ht in m)**2                     
6. DiabetesPedigreeFunction - a genetic indicator of propenslyly for diabetes  
7. Age - age of patient in years                      
8. Outcome - whether patient has diabetes or not

In [5]:
data.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [6]:
data.duplicated().sum()

0

In [7]:
data[~data.applymap(np.isreal)]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tested_Positive
...,...,...,...,...,...,...,...,...,...
763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tested_Negative
764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tested_Negative
765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tested_Negative
766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tested_Positive
767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tested_Negative

In [8]:
data[~data.applymap(np.isreal).any(1)]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [9]:
# 768 rows and 9 columns with no nulls,no duplicates

In [10]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000

In [11]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Pregnancies,768.0,3.845052,3.369578,0.000,1.00000,3.0000,6.00000,17.00
Glucose,768.0,120.894531,31.972618,0.000,99.00000,117.0000,140.25000,199.00
BloodPressure,768.0,69.105469,19.355807,0.000,62.00000,72.0000,80.00000,122.00
SkinThickness,768.0,20.536458,15.952218,0.000,0.00000,23.0000,32.00000,99.00
Insulin,768.0,79.799479,115.244002,0.000,0.00000,30.5000,127.25000,846.00
BMI,768.0,31.992578,7.884160,0.000,27.30000,32.0000,36.60000,67.10
DiabetesPedigreeFunction,768.0,0.471876,0.331329,0.078,0.24375,0.3725,0.62625,2.42
Age,768.0,33.240885,11.760232,21.000,24.00000,29.0000,41.00000,81.00

In [12]:
data.Outcome.value_counts()

No                 470
Yes                248
Tested_Negative     30
Tested_Positive     20
Name: Outcome, dtype: int64

In [13]:
df=data.copy()

In [14]:
zerofill=lambda x: x.replace(0, x.median())
cols = df.columns[1:6]
df[cols]=df[cols].apply(zerofill,0)

In [ ]:
d={'Yes':1,'Tested_Positive':1,'No':0,'Tested_Negative':0}
df['Outcome']=df['Outcome'].map(d)

In [ ]:
df.head()

In [ ]:
df.Outcome.value_counts()

In [ ]:
df[df.columns[:]].agg(['min']).T

In [ ]:
df.hist()
plt.show()

In [2]:
for col in df.select_dtypes(include =np.number).columns:
    print('Boxplot for the column',col)
    sns.boxplot(data=df,x=col)
    plt.show()

NameError: name 'df' is not defined

In [ ]:
ax=sns.countplot(df,x='Outcome',color ='green')
for p in ax.patches:
    x = p.get_bbox().get_points()[:,0]
    y = p.get_bbox().get_points()[1,1]
    ax.annotate("{:.3g}%".format(100.*y/len(df)), (x.mean(),y),ha = 'center',va='bottom')
    
    
plt.show()

In [ ]:
# bivariate
for col in df.select_dtypes(exclude = 'O').columns:
    print("Bivariate bar graph for outcome vs",col)
    df.groupby('Outcome')[col].mean().plot(kind = 'bar')
    plt.ylabel(col)
    plt.show()

 Women who have higher avg pregnencies, glucose level, age,
bmi, diabetespedigreefunction are more likely to be diabetic

In [ ]:
sns.pairplot(df,hue='Outcome')
plt.show()

we see strong correlation btw bmi and skinthickness, glucose and insulin, which may have
to treat by dropping one in each pair after consulting the domain expert

In [ ]:
sns.heatmap(df.corr(),annot=True)
plt.show()

In [ ]:
*From heatmap we see that BMI, glucose and age are the most likely risk factors of diabetes*

### Preprocess the data for modelling

In [ ]:
x=df.drop('Outcome',axis=1)
y=df.Outcome

In [ ]:
sm=SMOTE()
x,y=sm.fit_resample(x,y)

In [ ]:
y.value_counts()

In [ ]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=101,stratify=y)
print(xtrain.shape)
print(xtest.shape)
print(ytrain.shape)
print(ytest.shape)

In [ ]:
def print_metrics(y_test,y_pred,model_name):
    print('metrics for model', model_name)
    print("")
    print('accuracy=',accuracy_score(y_test,y_pred))
    print('')
    print('Recall=', recall_score(y_test,y_pred))
    print('')
    print('Precision=',precision_score(y_test,y_pred))
    print('')
    print('ROC score=', roc_auc_score(y_test,y_pred))
    print('')
    print('f1 score=', f1_score(y_test,y_pred))
    print("")
    print(confusion_matrix(y_test,y_pred))
    print('')
    print(classification_report(y_test,y_pred))

In [ ]:
knn=KNeighborsClassifier()
knn.fit(xtrain,ytrain)

In [ ]:
clfs={'Logreg': LogisticRegression(),
     ''}